<ion-header>
  <ion-navbar color="golden">
    <ion-title>
      + Moedas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Puxe para atualizar"
        refreshingSpinner="circles"
        refreshingText="Atualizando...">
      </ion-refresher-content>
    </ion-refresher>

  <ion-card *ngFor="let outras of novoOutras" color="dark">

    <ion-item>
      <ion-avatar item-start>
        <img src="https://files.coinmarketcap.com/static/img/coins/32x32/{{outras.id}}.png">
      </ion-avatar>
      <p class="medio"><b>{{outras.name}}</b> - {{outras.symbol}}</p>
      <p>Rank: {{outras.rank}}</p>
    </ion-item>

    <hr/>

    <ion-card-content>
      <p>Valor em $: <b>{{outras.price_usd}} $</b></p>
      <p>Valor em €: <b>{{outras.price_eur}} €</b></p>
      <p>Valor em ฿: <b>{{outras.price_btc}} ฿</b></p>
    </ion-card-content>
    <hr/>
    <ion-label class="ajustado">Variações</ion-label>
    <ion-row>
      <ion-col>
        <ion-label *ngIf="outras.percent_change_1h < 0" style="color: #DB2929;">
          <b>1H: </b>{{outras.percent_change_1h}}
        </ion-label>
        <ion-label *ngIf="outras.percent_change_1h > 0" style="color: #9CCB19;">
          <b>1H: </b>{{outras.percent_change_1h}}
        </ion-label>
        <ion-label *ngIf="outras.percent_change_1h == 0">
          <b>1H: </b>{{outras.percent_change_1h}}
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-label *ngIf="outras.percent_change_24h < 0" style="color: #DB2929;">
          <b>24H: </b>{{outras.percent_change_24h}}
        </ion-label>
        <ion-label *ngIf="outras.percent_change_24h >= 0" style="color: #9CCB19;">
          <b>24H: </b>{{outras.percent_change_24h}}
        </ion-label>
        <ion-label *ngIf="outras.percent_change_24h == 0">
          <b>24H: </b>{{outras.percent_change_24h}}
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-label *ngIf="outras.percent_change_7d < 0" style="color: #DB2929;">
          <b>7d: </b>{{outras.percent_change_7d}}
        </ion-label>
        <ion-label *ngIf="outras.percent_change_7d >= 0" style="color: #9CCB19;">
          <b>7d: </b>{{outras.percent_change_7d}}
        </ion-label>
        <ion-label *ngIf="outras.percent_change_7d == 0">
          <b>7d: </b>{{outras.percent_change_7d}}
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
