page-top {
	ion-title{
		text-align: center;
	}
	ion-note{
		color: #000;
	}

	ion-row{
		text-align: center;
	}

	.medio {
		font-size: 18px;
	}

	.ajustado {
		text-align: center;
		padding-left: -10px;
		font-size: 16px;
	}
}
